<!DOCTYPE html>
<html>
<head>
      <%- include partials/head %>
       <link href="./partials/style.css" rel='stylesheet'>

    <title>Bootstraps</title>
      <%- include partials/_mobile %>
  </head>
  <body>
  <%- include partials/_menu %>
    <div class="container bg-light">
    <p class="text-danger bg-info text-center">hello</p>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        I started seven years ago. I did my first act at an open mic on macdougal
           street. The first time I performed was completely surreal. As the words
           traveled out through the audience, I felt as if I was disappearing into
           the crowd. That is when I became one with my art.<br><br>I did a month
           at first. A few years later, I returned. This time I kept steady at it,
           once a week, for about six months. It only took a half a year to return
           this time. Now I do it about three times a week. Even though I've left,
            I never could stay away. Comedy is hard, but life is harder. Every time
            life beat me up, it made me realize that the stage is more my place than
             anywhere else.
</div>
<div class="col-md-6 col-sm-6">
  <br><br>I am more comfortable than ever before now.
 Comfort really is the key to success with this gig. This is where I
  belong.<br><br>
Right now my passion is burning hotter for this than ever before.
I think about how temporary everything that I love is. I've lost so
many people. I've lost so many opportunities. I've wasted so much time.
I realize that nothing is promised tomorrow. The way I see it, I better
squeeze in as much time as I can before it's too late. That's my theory
on life. Make the most of it while you still can.
</div>
    </div>
    <div class="row">
    <div class="col-md-3 col-sm-3 bg-light"></div>

    <div class="col-md-3 col-sm-3 bg-info" ></div>

<div class="col-md-3 col-sm-3 bg-warning"></div>
<div class="col-md-3 col-sm-3 bg-warning"></div></div>
<button class="btn btn-success">Submit</button>
<!--   btn-danger  -->
<!-- btn-warning -->
</div>
</body>
<!-- always try and make it add up to 12 -->
</html>
